// Specific CSS for your home-page
.link {
  text-align: center !important;
  color: black !important;
  text-decoration: none !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #0c9e5a !important;
    border-color: #0c9e5a !important;
}

