<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/sosprovass/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Sos-Provas-401770437316639" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://wa.me/553184876029?text=Ol%C3%A1%2C+eu+estou+interessado+em+aulas+particulares+de" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.linkedin.com/in/henrique-starling-369647160/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
