<!-- Navbar Starling INICIO -->

<div class="c_header c_header--v6 c_header--desktop c_header--ia c_header--ia- ud-app-loader ud-app-loaded" data-module-id="header-v6" data-module-priority="-10">
  <div class="c_header__inner" >
    <div class="c_header__logo-container">
      <a class="c_header__logo-wrap" href="/"><%= image_tag("sosprovas.png", class: "udemy-logo", width: "110", height: "32") %></a> <!-- class="udemy-logo" width="110" height="32" -->
    </div>
    <div class="c_header__left">

      <div class="c_header__search-wrapper">
        <div class="c_header__search">
          <div class="c_quick-search__form pos-r">
            <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
              <div class="search-form-control form-group">
                <input class="form-control string required" type="text" placeholder="Pesquise a sua materia" onkeyup="myFunction()" name="search[query]" id="search_query"><span></span>
                <button name="button" type="submit" class="btn btn-primary flex-center">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="c_header__right">
      <div class="visible-lg-block visible-xl-block header-right-divider"></div>
        <div class="dropdown cart">
          <button type="button" class="btn btn-demo">
            <i class="fas fa-shopping-cart" style="font-size: 26px"></i>
          </button>
        </div>
      <% if user_signed_in? %>
      <div class="dropdown">
        <div>
          <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
      <% else %>
      <div class="dropdown">
        <div>
          <form action="/users/sign_up">
            <button type="submit" class="btn btn-quaternary">Cadastre-se</button>
          </form>
        </div>
      </div>
      <div class="dropdown">
        <div>
          <form action="/users/sign_in">
            <button  type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
