<!-- Navbar Starling INICIO -->

<div class="c_header c_header--v6 c_header--desktop c_header--ia c_header--ia- ud-app-loader ud-app-loaded" data-module-id="header-v6" data-module-priority="-10">
  <div class="c_header__inner" >
    <div class="c_header__logo-container">
      <a class="c_header__logo-wrap" href="/"><img class="udemy-logo" src="images/SosProvas"  width="110" height="32"></a>
    </div>
    <div class="c_header__left">
      <div class="ud-component--header-v6--browse-dropdown-button hidden-xs hidden-xxs">
        <div class="dropdown--open-on-hover">
          <a role="button" class="dropdown"><span>Materias</span></a>
          <ul role="menu" class="dropdown-menu">
        </div>
      </div>
      <div class="c_header__search-wrapper">
        <div class="c_header__search">
          <div class="c_quick-search__form pos-r">
            <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
              <div class="search-form-control form-group">
                <input class="form-control string required" placeholder="Pesquisa a sua materia" type="text" name="search[query]" id="search_query" />
                <button name="button" type="submit" class="btn btn-flat">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="c_header__right">
      <div class="visible-lg-block visible-xl-block header-right-divider"></div>
        <div class="dropdown">
          <button type="button" class="btn btn-demo">
            <i class="fas fa-shopping-cart" style="font-size: 26px"></i>
          </button>
        </div>
      <div class="dropdown">
        <div>
          <button type="button" class="btn btn-quaternary">Log In</button>
        </div>
      </div>
      <div class="dropdown">
        <div>
          <button  type="button" class="btn btn-primary">Cadastre-se</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar Starling Fim -->

  <!-- V Parte do bertucci V -->
<div class="container d-flex justify-content-around">
  <div class="cards">
    <div class="card-features">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="notebook" width="50" height="50">
      <div class="card-feature-title">
        <h2><strong>Aprenda com os melhores alunos</strong></h2>
      </div>
      <div class="card-feature-content">
        <p>Esses alunos passarem com as melhores notas e vão te mostrar como fazer o mesmo!</p>
      </div>
      <div class="card-feature-btn">
        <a href="">SAIBA MAIS</a>
      </div>
    </div>

    <div class="card-features">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="notebook" width="50" height="50">
      <div class="card-feature-title">
        <h2><strong>Acesse os melhores materiais</strong></h2>
      </div>
      <div class="card-feature-content">
        <p>Estude de forma mais inteligente e salve tempo!</p>
      </div>
      <div class="card-feature-btn">
        <a href="">SAIBA MAIS</a>
      </div>
    </div>
  </div>

  <div class="card-offer">
    <h2><strong>Exercícos específicos</strong></h2>
    <p>Estude aquilo que vai cair na prova!</p>
  </div>

</div>
