
<!-- banner inicio -->

<div class="main-content">
  <!-- banner principal inicio-->
  <div class="notice-streamer">
    <div class="carousel-fullscreen-sidebar">
      <div class="notice-streamer__content">
        <div class="notice-streamer__headline">
          Learn on your schedule
        </div>
        <div class="notice-streamer__text">
          Study any topic, anytime. Choose from thousands of expert-led courses now.
        </div>
      <a class="btn btn-flat btn-lg btn-block" href="#">Descubra as nossas aulas</a>
      </div>
    </div>
  </div>
  <!-- banner principal Fim-->
  <div class="how-udemy-works-container">
  <div class="how-udemy-works carousel-fullscreen-sidebar">
    <div class="how-udemy-works__col fx-lt">
      <div class="how-udemy-works__text">
        <b>45 materias online</b>
        <div class="how-udemy-works__sub-title">
         Aprenda como você nunca aprendeu antes
        </div>
      </div>
    </div>
    <div class="how-udemy-works__col fx-ct">
      <div class="how-udemy-works__text">
        <b>Professeres Experientes</b>
        <div class="how-udemy-works__sub-title">
          Ache o melhor para você
        </div>
      </div>
    </div>
    <div class="how-udemy-works__col fx-rt">
      <div class="how-udemy-works__text">
        <b>Acesso para a vida inteira</b>
        <div class="how-udemy-works__sub-title">
          Aprenda no seu tempo
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- banner secunario inicio -->
  <div class="testimonial-text">O que os nossos alunos tem a dizer</div>
  <div class="row">
    <div class="card-testimonial col-3">
      <div class="testimonial-review">
        <img alt="Borivoje" aria-label="Borivoje" class="brand-testimonials--avatar--8pnEP user-avatar user-avatar--image" data-purpose="user-avatar" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg">
        <div>
            Paulo
        </div>
      </div>
      <div class="testimonial-content">
        Sos Provas salvou meu semestre. Estava perdido, desesperado e sem saber como estudar
      </div>
    </div>
    <div class="card-testimonial col-3">
      <div class="testimonial-review">
        <div><img alt="Borivoje" aria-label="Borivoje" class="brand-testimonials--avatar--8pnEP user-avatar user-avatar--image" data-purpose="user-avatar" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg"></div>
        <div>
            Paulo
        </div>
      </div>
      <div class="testimonial-content">
        Sos Provas salvou meu semestre. Estava perdido, desesperado e sem saber como estudar
      </div>
    </div>
    <div class="card-testimonial col-3">
      <div class="testimonial-review">
        <div><img alt="Borivoje" aria-label="Borivoje" class="brand-testimonials--avatar--8pnEP user-avatar user-avatar--image" data-purpose="user-avatar" height="64" width="64" src="https://i.udemycdn.com/user/100x100/8872940_27b4_3.jpg"></div>
        <div>
            Paulo
        </div>
      </div>
      <div class="testimonial-content">
        Sos Provas savou meu semestre. Estava perdido, desesperado e sem saber como estudar
      </div>
    </div>
  </div>
</div>

  <!-- V Parte do bertucci V -->
<div class="container d-flex justify-content-around">
  <div class="cards">
    <div class="card-features">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="notebook" width="50" height="50">
      <div class="card-feature-title">
        <h2><strong>Aprenda com os melhores alunos</strong></h2>
      </div>
      <div class="card-feature-content">
        <p>Esses alunos passarem com as melhores notas e vão te mostrar como fazer o mesmo!</p>
      </div>
      <div class="card-feature-btn">
        <a href="">SAIBA MAIS</a>
      </div>
    </div>

    <div class="card-features">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="notebook" width="50" height="50">
      <div class="card-feature-title">
        <h2><strong>Acesse os melhores materiais</strong></h2>
      </div>
      <div class="card-feature-content">
        <p>Estude de forma mais inteligente e salve tempo!</p>
      </div>
      <div class="card-feature-btn">
        <a href="">SAIBA MAIS</a>
      </div>
    </div>
  </div>

  <div class="card-offer">
    <h2><strong>Exercícos específicos</strong></h2>
    <p>Estude aquilo que vai cair na prova!</p>
  </div>
  <!-- Feedbacks -->







</div>
