<div class="container corrector">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="cdp__highlight-box mc-p-8">
        <h3 class="mc-text-h3 mc-mb-2">Topicos abordados nessa aula de anatomia</h3>
        <p class="opacity--hinted">Cada aula, contem um exercicio para você.</p>
        <div class="mc-my-6"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/images/3305/original/1570652274-AW_cinematic_12x5.jpg" alt="1570652274-AW_cinematic_12x5"></div><a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/the-art-of-simple-food">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1018/class_overview/1544665933-AW_101_TheArtofSimpleFood_v32_Brightcove_v2.mp4.01_02_41_00.Still001.jpg" alt="1544665933-AW_101_TheArtofSimpleFood_v32_Brightcove_v2"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">1. Alice's Philosophy of Food</h6>
            <p class="mc-text-small opacity--hinted">Meet Alice in her home kitchen as she introduces you to her philosophy of cooking. She’ll teach you how to cook deliciously, with spontaneity, and in harmony with nature.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/the-farmer-s-market-your-edible-education">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1020/class_overview/1544665936-AW_102_TheFarmersMarketYourEdibleEducation_v15_Brightcove_v4.mp4.01_09_00_05.Still001.jpg" alt="1544665936-AW_102_TheFarmersMarketYourEdibleEducation_v15_Brightcove_v4"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">2. The Farmer’s Market: Learning From the Source</h6>
            <p class="mc-text-small opacity--hinted">Alice teaches you how to become a discerning shopper whether at the farmers’ market or grocery store. Learn her guidelines for selecting ingredients, including questions to ask vendors and farmers.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/a-vegetable-lunch-roasted-steamed-and-raw">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1021/class_overview/1544665938-AW_103_AVegetableLunchRoastedSteamedandRaw_v14_Brightcove_v1.mp4.01_18_17_12.Still001.jpg" alt="1544665938-AW_103_AVegetableLunchRoastedSteamedandRaw_v14_Brightcove_v1"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">3. A Vegetable Lunch: Roasted, Steamed, and Raw</h6>
            <p class="mc-text-small opacity--hinted">Alice walks you through her process of planning an India-inspired lunch based on the ingredients in her shopping basket. Learn how to prepare vegetables three ways, and reach into your pantry to round out the meal.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/alice-s-essential-kitchen-tools">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1056/class_overview/1544665941-AW_104_AlicesEssentialKitchenTools_v9_Brightcove_v1.mp4.01_00_42_15.Still001.jpg" alt="1544665941-AW_104_AlicesEssentialKitchenTools_v9_Brightcove_v1"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">4. Alice’s Essential Kitchen Tools</h6>
            <p class="mc-text-small opacity--hinted">Alice feels the same way about ingredients and kitchen tools—sometimes less is more. Alice demonstrates her favorite tools and challenges you to pare down your own collection for usefulness and beauty.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/a-well-stocked-pantry">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1022/class_overview/1544665943-AW_105_AWellStockedPantry_v10_Brightcove_v2.mp4.01_22_04_23.Still001.jpg" alt="1544665943-AW_105_AWellStockedPantry_v10_Brightcove_v2"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">5. A Well-Stocked Pantry</h6>
            <p class="mc-text-small opacity--hinted">Alice teaches you how to choose the best quality ingredients with which to stock your pantry. She shares seven dishes all sourced from her own pantry including “Coming Home Pasta,” her go-to when returning home to an empty fridge after a long trip.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/cooking-for-your-pantry-alice-s-staples">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1057/class_overview/1544665945-AW_106_CookingForYourPantryAlicesStaples_v9_Brightcove_v2.mp4.01_29_57_00.Still001.jpg" alt="1544665945-AW_106_CookingForYourPantryAlicesStaples_v9_Brightcove_v2"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">6. Cooking For Your Pantry: Alice’s Staples</h6>
            <p class="mc-text-small opacity--hinted">Alice’s distinctive pantry also includes items she mixes and makes herself to use throughout the week. Learn how to make Alice’s pantry staples including Quick Pickles, Sautéed Greens, and Oat Pancakes.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/leaves-herbs-and-aromatics">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1023/class_overview/1544665948-AW_107_LeavesHerbsandAromatics_v11_Brightcove_v3.mp4.01_02_34_00.Still001.jpg" alt="1544665948-AW_107_LeavesHerbsandAromatics_v11_Brightcove_v3"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">7. Leaves, Herbs, and Aromatics</h6>
            <p class="mc-text-small opacity--hinted">Fresh herbs are an essential element in Alice’s cooking. Learn how she uses tender and strong herbs for different dishes, and how she finds use for the whole plant—not just the leaves.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/cooking-from-your-kitchen-garden-salsa-verde">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1024/class_overview/1544665950-AW_108_CookingFromYourKitchenGardenSalsaVerde_v8_Brightcove_v3.mp4.01_02_00_00.Still001.jpg" alt="1544665950-AW_108_CookingFromYourKitchenGardenSalsaVerde_v8_Brightcove_v3"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">8. Cooking From Your Kitchen Garden: Salsa Verde</h6>
            <p class="mc-text-small opacity--hinted">Alice teaches you to make one of her favorite and most versatile sauces, salsa verde. Alice demonstrates a version made with macerated shallots and offers variations on the sauce to serve with meats, vegetables, and fish.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/preparing-a-beautiful-salad">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1025/class_overview/1544665953-AW_109_PreparingaBeautifulSalad_v8_Brightcove_v3.mp4.01_09_18_00.Still001.jpg" alt="1544665953-AW_109_PreparingaBeautifulSalad_v8_Brightcove_v3"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">9. Preparing a Beautiful Salad</h6>
            <p class="mc-text-small opacity--hinted">Alice believes the making of a salad can bring as much joy as eating it. Learn Alice’s method for washing lettuces and follow her recipe for Mesclun Salad.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/chez-panisse-cooking-galette">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1026/class_overview/1544665956-AW_110_ChezPanisseCooking_Galette_v5_Brightcove_v3.mp4.01_00_05_02.Still001.jpg" alt="1544665956-AW_110_ChezPanisseCooking_Galette_v5_Brightcove_v3"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">10. Chez Panisse Cooking: Galette</h6>
            <p class="mc-text-small opacity--hinted">Alice teaches you how to make Chez Panisse’s everyday dessert, the galette. Learn how the perfect pastry dough results in a beautifully flakey crust.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/chez-panisse-cooking-ravioli">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1058/class_overview/1544665958-AW_111_ChezPanisseCooking_Ravioli_v5_Brightcove_v4.mp4.01_07_39_19.Still001.jpg" alt="1544665958-AW_111_ChezPanisseCooking_Ravioli_v5_Brightcove_v4"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">11. Chez Panisse Cooking: Ravioli</h6>
            <p class="mc-text-small opacity--hinted">Learn to make an egg pasta dough that can be used to make any shape of pasta. Then, use your dough to make Chez Panisse’s ricotta ravioli with chanterelle mushrooms.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/follow-the-rhythms-of-nature-seasonal-eating">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1059/class_overview/1544665960-AW_112_FollowtheRhythmsofNatureSeasonalEating_v12_Brightcove_v4.mp4.01_08_50_09.Still001.jpg" alt="1544665960-AW_112_FollowtheRhythmsofNatureSeasonalEating_v12_Brightcove_v4"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">12. Follow the Rhythms of Nature: Seasonal Eating</h6>
            <p class="mc-text-small opacity--hinted">Learn why the most iconic dessert at Chez Panisse is the most unembellished—the fruit bowl. Alice teaches you how to engage all of your senses to test ripeness and choose fruits at the peak of their season.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/a-market-fresh-dinner-planning-and-prep">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1060/class_overview/1544665963-AW_113_MarketFreshDinnerPlanningandPrep_v8_Brightcove_v3.mp4.01_23_14_10.Still001.jpg" alt="1544665963-AW_113_MarketFreshDinnerPlanningandPrep_v8_Brightcove_v3"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">13. A Market Fresh Dinner: Planning and Prep</h6>
            <p class="mc-text-small opacity--hinted">Quality time with your guests is just as important as making a quality meal. Learn how to think in three courses and time each step of your cooking for a delicious menu that allows you time to enjoy the party.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/a-market-fresh-dinner-finish-and-serve">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1061/class_overview/1544665965-AW_114_AMarketFreshDinnerFinishAndServe_v13_Brightcove_v1.mp4.01_14_08_13.Still001.jpg" alt="1544665965-AW_114_AMarketFreshDinnerFinishAndServe_v13_Brightcove_v1"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">14. A Market Fresh Dinner: Finish and Serve</h6>
            <p class="mc-text-small opacity--hinted">Finish preparing Alice’s dinner party menu with a last-minute burst of cooking over the fire or stovetop. Then learn how to plate and serve each course.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/coming-back-to-the-table">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1019/class_overview/1544665968-AW_115_ComingBacktotheTable_v12_Brightcove_v1.mp4.01_09_30_08.Still001.jpg" alt="1544665968-AW_115_ComingBacktotheTable_v12_Brightcove_v1"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">15. Coming Back to the Table</h6>
            <p class="mc-text-small opacity--hinted">Learn how a life-changing trip to France led Alice from the frozen dinners of her childhood to pioneering the farm-to-table movement.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/the-power-of-food-the-edible-schoolyard">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1062/class_overview/1544665970-AW_116_ThePowerofFood_TheEdibeSchoolyard_v7_Brightcove_v2.mp4.01_01_54_20.Still001.jpg" alt="1544665970-AW_116_ThePowerofFood_TheEdibeSchoolyard_v7_Brightcove_v2"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">16. The Power of Food: The Edible Schoolyard</h6>
            <p class="mc-text-small opacity--hinted">Alice breaks down the five principles of her Edible Schoolyard Project to show that food is a powerful teacher. She encourages you to continue your edible education by shopping and cooking sustainably and remembering that food is precious.</p>
          </div>
        </div></a> <a href="/classes/alice-waters-teaches-the-art-of-home-cooking/chapters/alice-s-egg-in-a-spoon">
        <div class="row mc-my-2">
          <div class="col-2 d-none d-sm-block"><img class="mc-img-responsive" src="https://www.masterclass.com/course-images/chapters/1063/class_overview/1544665973-AW_117_Bonus_AlicesEgginaSpoon_v9_Brightcove_v1.mp4.01_00_13_23.Still001.jpg" alt="1544665973-AW_117_Bonus_AlicesEgginaSpoon_v9_Brightcove_v1"></div>
          <div class="col">
            <h6 class="mc-text-h6 mc-mb-1">17. BONUS: Alice's Egg in a Spoon</h6>
            <p class="mc-text-small opacity--hinted">Now that Alice has covered her approach to home cooking, she challenges you to practice cooking over fire with the simple dish of an egg and grilled toast.</p>
          </div>
        </div></a>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="cdp__highlight-box mc-p-8 mc pb-7">
        <div class="row no-gutters align-items-center mc-mb-7">
          <div class="col-auto"><img class="d-block mc-img-responsive flex-shrink-0 mc-corners--circle cdp__highlight-avatar" src="https://www.masterclass.com/course-images/images/3307/original/1570215115-AW_primary_1x1.jpg" alt="1570215115-AW_primary_1x1"></div>
          <div class="col mc-ml-4">
            <h6 class="mc-text-h6 mc-mb-1">Angela Patrus</h6>
            <p class="mc-text-small">Ensina a arte da anatomia</p>
          </div>
        </div>
        <p class="opacity--hinted">Angela Patrus é uma acadêmica de medicina da Faculdade Ciências Médicas de Minas Gerais.</p>
        <div class="separator mc-mt-8 mc-mb-6"></div>
        <div class="cdp__sidebar-cta mc-text--center">
          <p class="mc-text-x-small">Acesse essa aula</p><a class="btn btn-primary btn-block" >Comece agora</a>
          <p class="mc-text-x-small mc-mb-3" data-ba="lesson-plan-price-copy">Acesse essa aula por apenas R$ 99,90</p>
        </div>
      </div>
      <div class="cdp__highlight-box mc-mt-8 mc-p-8">
        <h6 class="mc-text-h6 mc-mb-1">Exercicios Exclusivos</h6>
        <p class="mc-text-small">Cada aula contem um exercicio exclusivo, com gabarito, para garantir que você entendeu tudo!</p>
      </div>
    </div>
  </div>
</div>


