<div class="flex-center">
  <div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <button class="dropdown-btn">Contact
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <button class="dropdown-btn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <a href="#contact">Search</a>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-12 col-md-8 d-flex align-items-center align-img">
        <div class="row no-gutters align-items-center mc-mb-7">
              <div class="col-auto"><img class="d-block mc-img-responsive flex-shrink-0 mc-corners--circle cdp__highlight-avatar" src="https://www.masterclass.com/course-images/images/3307/original/1570215115-AW_primary_1x1.jpg" alt="1570215115-AW_primary_1x1"></div>
              <div class="col mc-ml-4">
                <h6 class="mc-text-h4">Angela Patrus</h6>
                <p class="mc-opacity--muted mc-mb-1">Ensina a arte da anatomia</p>
              </div>
            </div>
        </div>
      </div>
      <%= get_vimeo_iframe(8802771,940,420) %>
    </div>
  </div>
</div>



