<div class="cards-subject">
  <div class="card-subject">
    <h2><strong>Anatomia</strong></h2>
    <p>32 horas de aula</p>
    <p>54 exercícios</p>
    <p>XXXXX (124)</p>
    <a href="">COMPRAR AGORA</a>
  </div>

  <div class="card-subject">
    <h2><strong>Bioquimica</strong></h2>
    <p>32 horas de aula</p>
    <p>54 exercícios</p>
    <p>XXXXX (124)</p>
    <a href="">COMPRAR AGORA</a>
  </div>
</div>
