body {
  font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #f7f7f7;;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.main-content-wrapper, .main-content {
  flex: 1 0 auto;
}
.notice-streamer {
  background-image: url(https://res.cloudinary.com/masterbi/image/upload/v1591313842/SOS-Provas/soslogosite_mvunwj.jpg);
}

.notice-streamer {
  display: flex;
  align-items: flex-end;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  margin-bottom: 24px;
}
// header.header-overlay:before {
//   background: linear-gradient(180deg,rgba(0,0,0,.4),transparent 34%);
//   z-index: 1;
// }
// chamar o few para isso: ;
.notice-streamer {
  align-items: center;
  height: 500px;
  padding: 0;
}

.carousel-fullscreen-sidebar {
  margin: 30px auto;
}

.carousel-fullscreen-sidebar {
  width: 754px;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-fullscreen-sidebar {
  width: 1174px;
}

.notice-streamer__content {
  max-width: 460px;
}

.notice-streamer__content {
  box-sizing: content-box;
}

.notice-streamer__headline {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(41,48,59,.55);
}

.notice-streamer__headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.33;
  font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.notice-streamer__headline, .notice-streamer__text {
  max-width: 100%;
}

.notice-streamer__text {
  color: #fff;
  font-size: 13px;
  line-height: 1.46;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(41,48,59,.55);
  font-size: 18px;
  line-height: 1.61;
}

.notice-streamer__headline, .notice-streamer__text {
  max-width: 100%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

// banner show

.header-program h1 {
  margin: 0 0 12px;
  line-height: inherit;
  font-size: 41px;
  font-family: CircularStd-Black,SimHei;
}

p {
  margin: 0 0 30px;
}

.cta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 36px;
  min-width: 95px;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  transition: all .15s ease;
}

.header-program img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 105%;
  height: 520px;
  border-radius: 6px;
  z-index: 6;
}

.adjust {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #f5fdf9;
}

.half-left {
  flex: 0 0 30%;
}

.half-bottom {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  width: 50%;
}
