.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  grid-gap: 16px 16px;
}

// Card das funcionalidade na página inicial
.card-features {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 20px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-features h2 {
  font-size: 18px;
  text-align: center;
}

.card-features p {
  font-size: 12px;
  text-align: center
}
//---------------------
// ***Esse card-features h2 não tá misturando com esse?
.card-feature-title {
  min-height: 50px;
  margin-top: 28px;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 700;
  height: 42px;
  font-size: 15px;
  color: #29303b;
}

.card-feature-content {
  padding-bottom: 6px;
  white-space: normal;
  font-weight: 500;
  color: #29303b;
  margin-bottom: 10px;
}

.card-feature-btn {
  min-height: 20px;
}
//---------------------
// Card da matéria dentro da página do curso
.cards-subject {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  grid-gap: 16px 16px;
}

.card-subject {
  width: 280px;
  height: 414px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-subject img {
  background-size: cover;
  background-position: center;
  border-radius: 3px 3px 0 0;
}

.card-subject-content {
  height: 55%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-subject-content h2 {
  font-size: 24px;
  text-align: center;
}

.card-subject-content p {
  font-size: 14px;
  text-align: center;
  opacity: .7;
  margin-bottom: 4px;
}
