.sidenav {
  flex: 0 0 20%;
  background-color: #f2f2f2;
  overflow-x: hidden;
  box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  border-right: 1px solid #e5e5e5;
}

.content {
  flex: 0 0 80%;
  margin-bottom: 64px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: rgba(0,0,0,0.5);
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 15px;
}

/* On mouse-over */
.sidenav a:hover {
  opacity: 1;
  // background: linear-gradient(-180deg, #eaeaea 0%, #ededed 90%);
  color: #333333;
}

.dropdown-btn:hover {
  opacity: 1;
  color: black;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  opacity: 1;
  background: #ffffff;
  color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background: #fafafa;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  border-bottom: 1px solid #EAEAEA;
  font-weight: 400;
  }

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.border-radius-50 {
  border-radius: 50%;
}

.mc-opacity--muted {
    opacity: 0.6 !important;
}

.mc-text-d3, .mc-text-d2, .mc-text-d1, .mc-text-h1, .mc-text-h2, .mc-text-h3, .mc-text-h4, .mc-text-h5, .mc-text-h6, .mc-text-h7, .mc-text-h8 {
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.align-img {
  margin-bottom: 16px;
  padding-left: 131px;
  margin-top: 32px;
}

.sidenav-center {
  display: flex;
  justify-content: center;
}

.subject-title {
    font-weight: 500;
    color: #3d3d3d !important;
    letter-spacing: -0.01em !important;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 4px;
  cursor: pointer;
  text-decoration: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: none;
  opacity: 1;
}

.tabs-underlined .tab-underlined.active {
  // opacity: 1;
  // border-bottom: 3px solid #555555;
}

.tabinho {
  display: none;
}

.tab-active {
  display: block;
}

.video-center {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.pdf_adjust {
  width: 640px;
  height: 480px;
}

.flashcard-container .cardSpinner {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #969696;
}

.flashcard-game-card {
  padding: 15px 30px;
  margin: 10px 0;
  // border: 1px solid #ECECEC;
  border-radius: 3px;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 640px;
}

.flashcard-game-card .flashcard-game-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-direction: row;
  justify-content: space-between;
}

.flashcard-game-card .flashcard-game-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-game-card .flashcard-game-card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 0 auto;
}

.flashcard-game-card .flashcard-game-card-content .flashcard-game-card-content-markdown {
  width: 100%;
}

.list-inline {
  margin-bottom: 0.6rem;
  padding-left: 0;
  list-style: none;
}

.hidden-text{
  display: none;
}

.form-control {
  padding-bottom: 0px;
}

.animated {
  background-image: url(/css/images/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top:95px;
  -webkit-animation-duration: 10s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
 }
 @-webkit-keyframes bounceOut {
  0% {
     -webkit-transform: scale(1);
  }
  25% {
     -webkit-transform: scale(.95);
  }
  50% {
     opacity: 1;
     -webkit-transform: scale(1.1);
  }
  100% {
     opacity: 0;
     -webkit-transform: scale(.3);
  }
 }
 @keyframes bounceOut {
  0% {
     transform: scale(1);
  }
  25% {
     transform: scale(.95);
  }
  50% {
     opacity: 1;
     transform: scale(1.1);
  }
  100% {
     opacity: 0;
     transform: scale(.3);
  }
 }
 @keyframes bounceIn {
  0% {
     transform: scale(.3);
  }
  25% {
     transform: scale(1.1);
  }
  50% {
     opacity: 0;
     transform: scale(0.95);
  }
  100% {
     opacity: 1;
     transform: scale(1);
  }
 }
@-webkit-keyframes bounceOut {
  0% {
     transform: scale(.3);
  }
  25% {
     transform: scale(1.1);
  }
  50% {
     opacity: 0;
     transform: scale(0.95);
  }
  100% {
     opacity: 1;
     transform: scale(1);
  }
 }
 .bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
 }

 .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
 }

.all-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.border-video {
  padding: 9px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.class-options{
  margin-bottom: -40px;
}

.padding-button {
  margin-top: 8px;
}

.hide {
  opacity: 0;
}

.hide:hover {

}

.form-control:disabled, .form-control[readonly] {
    background-color: #f2fff7;
    opacity: 1;
}
