.margin-bottom-04 {
  margin-bottom: 0.4rem;
}

.margin-bottom-08 {
  margin-bottom: 0.8rem;
}

.margin-bottom-12 {
  margin-bottom: 1.2rem;
}

.margin-bottom-24 {
  margin-bottom: 2.4rem;
}

.margin-bottom-28 {
  margin-bottom: 2.8rem;
}

//-------------------------

.margin-top-bottom-08 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.margin-top-bottom-24 {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.padding-32 {
  padding: 3.2rem;
}

.mc-text-d3, .mc-text-d2, .mc-text-d1, .mc-text-h1, .mc-text-h2, .mc-text-h3, .mc-text-h4, .mc-text-h5, .mc-text-h6, .mc-text-h7, .mc-text-h8 {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mc-text-h3 {
  font-size: 2.0rem;
  text-align: center;
}

.opacity--hinted {
  opacity: 0.8 !important;
}

.mc-img-responsive {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

// olhar
.mc-text-small {
  line-height: 1.45;
  letter-spacing: 0.01em;
}

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto, .col-auto-max {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.mc-text-h6 {
  font-size: 1rem;
}

.cdp__highlight-box {
  background: #fff;
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
   display: none;
  }
}

.mc-corners--circle {
  border-radius: 50%;
}

.d-block {
  display: block !important;
}

.cdp__highlight-avatar {
  width: 64px;
}

.mc-ml-4 {
  margin-left: 1.6rem;
}

.margin-0 {
  margin: 0;
}

.align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.d-block {
  display: block !important;
}

p {
  margin: 0 0 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.separator {
  height: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
}

.mc-text--center {
  text-align: center !important;
}

.mc-text-x-small {
  font-size: 1.2rem;
  line-height: 1.45;
  letter-spacing: 0.01em;
}

.btn-primary {
  color: #fff !important;
  background-color: #1edd88;
  border: 1px solid transparent;
}
