.c_header {
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  display: block;
  position: relative;
  z-index: 1010;
}

.c_header__inner {
  display: flex;
  justify-content: space-between;
  background: inherit;
  box-sizing: border-box;
  height: 65px;
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 1011;
}

.c_header .c_header__logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.c_header .c_header__logo-wrap {
  margin: 0 16px 0 0;
}

.c_header .c_header__left {
  flex: 1;
  min-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c_header .dropdown {
  font-size: 13px;
  margin: 0 2px;
  padding: 10px 0;
}

.c_header .dropdown--icon .dropdown-toggle {
  border-radius: 50%;
  padding: 12px 0;
  width: 45px;
}

// .c_header .dropdown-toggle {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   border: 1px solid transparent;
//   border-radius: 3px;
//   color: #505763;
//   font-weight: 400;
//   height: 45px;
//   line-height: 20px;
//   white-space: nowrap;
// }

.c_header .c_header__search-wrapper {
  margin: 0 25px;
  max-width: 630px;
  width: 100%;
}

.dropup, .dropdown {
  position: relative;
}

.c_header .c_quick-search__form .dropdown {
  margin: 0;
  padding: 0;
}

label, .blockLabel {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}

.es-autocomplete--primary .input-group {
  background-color: #f2f3f5;
  border-radius: 2px;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

.c_header .c_header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c_header .header-right-divider {
  height: 60%;
  border-left: 1px solid #dedfe0;
  margin: 0 8px;
}

.search-form-control {
position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.apply_filter {
  width: 70%;
}

.cadastrar-margin-right {
  margin-right: 20px;
}

.modal.left .modal-dialog,
  .modal.right .modal-dialog {
    // position: fixed;
    margin: auto;
    width: 409px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    margin-left: 160px;
  }

  .modal.left .modal-body,
  .modal.right .modal-body {
    padding: 15px 15px 80px;
  }

/*Right*/
  .modal.right.fade .modal-dialog {
    right: -276px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
  }

.app__cart__header {
    align-items: center;
    border-bottom: .1rem solid #ccc;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1rem;
    position: relative;
}

.app__cart__header h4 {
    flex: 1 1;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.app__cart__header>* {
    line-height: 1;
}

.app__cart__header>* {
    line-height: 1;
}

.app__cart__footer>div:not(.app__cart__footer__shipping):not(.app__cart__footer__coupon), .app__cart__footer__coupon form, .app__cart__footer__zip {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.app__cart__footer {
    border-top: .1rem solid #ccc;
    padding: 0 1rem 1rem;
}

.app__cart__footer>div:not(:last-child) {
    border-bottom: .1rem solid #ccc;
    font-size: 1.4rem;
    line-height: 1;
    margin: 0;
    padding: 1rem 0;
}

.modal-backdrop {
  z-index: 0;
}

.dropdown-menu {
  min-width: 9rem;
}

.each-subject {
  height: 80px;

  .mc-img-responsive {
    flex: 0 0 45%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .dropdown-item {
    padding: 20px;
    flex: 0 0 25%;
  }
}

.dropdown-menu.show{
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(-48px, 54px, 0px) !important;
  width: 250px;
}
