// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .course-banner {
    display: none;
  }
  .authority-container{
    display: none;
  }
  .half-left {
    flex: 0 0 50%;
  }
  .search-form-control{
    display: none;
  }

  .cart{
    display: none;
  }
  .card-features {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .half-left {
    flex: 0 0 75%;
  }
}

@media (max-width: 576px) {
  .half-left {
    flex: 0 0 90%;
  }
  .padding-monitor-card {
    margin-top: 0;
  }
}
